{% load static %}

    <div class="container">
     <H2>Articles</H2>
        <div class="row">
            {% for article in articles %}
                <div class="col-md-4">
                    <h3><a href="{% url "articles:article_view" article_slug=article.slug %}">
                        {{ article.title }}</a></h3>
                    {{ article.published_at }} <br/>
                    <img class="card-img-top" src="{% get_media_prefix %}{{ article.image }}" alt="">

                </div>
            {% endfor %}
        </div>
</div>



