{% load mptt_tags %}
{% load static %}

{#====recursive tree example========#}
{#    <ul class="root">#}
{#                {% recursetree menu %}#}
{#                    <li class="nav-item" >#}
{#                        {{ node.name }}#}
{#                        {% if not node.is_leaf_node %}#}
{#                            <ul class="children">#}
{#                                {{ children }}#}
{#                            </ul>#}
{#                        {% endif %}#}
{#                    </li>#}
{#                {% endrecursetree %}#}
{#            </ul>#}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Simple shop</a>
    <img src="{% static "logo.svg" %}" alt="" width="42" height="42">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'main_page_view' %}">
                    Main page</a>
            </li>

            {% recursetree menu %}
                {% if node.is_root_node %}
                    <li class="nav-item {% if not node.is_leaf_node %}dropdown{% endif %}">
                        <a class="nav-link {% if not node.is_leaf_node %}dropdown-toggle{% endif %}"
                                {% if not node.is_leaf_node %}
                           href="{% url "shop:catalog_view" catalog_slug=node.slug %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                {% else %}
                           href="{% url "shop:catalog_view" catalog_slug=node.slug %}"
                                {% endif %}
                        >
                            {{ node.name }}</a>

                        <div class="dropdown-menu">
                            {{ children }}
                        </div>
                    </li>
                {% else %}
                    <a class="dropdown-item" href="{% url "shop:catalog_view" catalog_slug=node.slug %}">
                        {{ node.name }}</a>
                {% endif %}
            {% endrecursetree %}
        </ul>


        <a class="btn btn-outline-success my-2 my-sm-0" role="button"
           href="{% url "shop:cart_view" %} ">
            Shopping cart</a>

        {% include "registration/registration_menu.html" %}


    </div>
</nav>

