{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>{{ section.name }}</h1>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mt-5">
                    {% include "shop/catalog_item.html" %}
                </div>
            {% endfor %}

        </div> <!-- /container -->
        {% if current_page is not None %}
            <div class="row pt-3">
                <div class="col-md-12 center-block text-center ">
                    {% if prev_page_url %}<a class="btn btn-dark" href="{{ prev_page_url }}">⟵</a>{% endif %}
                    <a class="btn btn-light disabled" href="">{{ current_page }}</a>
                    {% if next_page_url %}<a class="btn btn-dark" href="{{ next_page_url }}">⟶</a>{% endif %}
                </div>
            </div>
        {% endif %}

    </div>
{% endblock content %}